.custom-button {
    color: #9d9d9d;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: color ease-in 0.5s, background ease-in 0.5s;

    i.icon {
        margin-right: 0;
    }

    &:hover {
        color: #a33a48;
    }
}

@media screen and (max-width: 800px) {
    .custom-button:hover {
        color: #9d9d9d;
        background-color: transparent;
    }
}
