.custom-button {
    color: #9d9d9d;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: color ease-in 0.2s;

    i.icon {
        margin-right: 0;
    }

    &.desktop-btn {
        display: block;
    }

    &.mobile-btn {
        display: none;
    }

    &:hover {
        color: #a33a48;

        div span,
        div span::before,
        div span::after {
            background-color: #a33a48;
        }
    }
}

@media screen and (max-width: 800px) {
    .custom-button {
        &.desktop-btn {
            display: none;
        }

        &.mobile-btn {
            display: block;
        }
    }
}
