.about-container {
    .content {
        width: 60%;
        align-self: flex-start;
    }

    .image {
        width: 35%;
        height: 450px;
        background-position: right bottom;
        background-size: cover;
        filter: grayscale(85%);
    }
}
