.about-container {
    justify-content: space-between;
    align-items: center;

    .content {
        width: 50%;
    }

    .image {
        width: 45%;
        height: 450px;
        background-position: right bottom;
        background-size: cover;
        filter: grayscale(85%);
    }
}
