.projects {
    background-color: rgba(202, 161, 131, 0.1);

    .intro {
        max-width: 500px;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 10px;

        a {
            text-decoration: underline;
        }
    }

    .mobile-btn {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .projects {
        .container {
            flex-wrap: wrap;
        }

        .desktop-btn {
            display: none;
        }

        .mobile-btn {
            display: block;
            margin: 20px auto;
        }
    }
}
