.templates {
    padding-top: 20px;
    padding-bottom: 0;
    min-height: 84vh;
    height: auto;

    .intro {
        max-width: 800px;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 10px;
    }

    .small-card {
        .image {
            filter: grayscale(0);
            height: 240px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            background-position: top center;
        }

        .content {
            height: 275px;
            top: -30px;
            margin-bottom: -30px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .templates {
        .small-card {
            .content {
                height: 310px;
                top: -60px;
                margin-bottom: -60px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .templates {
        .small-card {
            .content {
                height: 330px;
                top: -80px;
                margin-bottom: -80px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .templates {
        padding-top: 20px;

        .intro {
            margin-bottom: 20px;
        }

        .small-card {
            .image {
                height: 350px;
            }

            .content {
                height: 230px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .templates {
        .small-card {
            .content {
                height: 270px;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .templates {
        .small-card {
            .content {
                height: 300px;
            }
        }
    }
}
