.about-container {
    justify-content: space-between;

    .content {
        width: 60%;

        p {
            margin-bottom: 20px;
            line-height: 1.8;

            strong {
                font-weight: 500;
            }
        }

        .links {
            display: flex;
            margin: 20px 0;
            padding: 10px 0;
            width: 100%;
            justify-content: flex-start;

            .custom-button {
                margin-right: 15px;
            }
        }

        h4,
        li {
            font-style: italic;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
        }
    }

    .image {
        width: 35%;
        height: 600px;
        background-position: right bottom;
        background-size: cover;
        filter: grayscale(50%);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.05),
            0 8px 8px rgba(0, 0, 0, 0.05), 0 16px 16px rgba(0, 0, 0, 0.05),
            0 32px 32px rgba(0, 0, 0, 0.05);
    }
}

@media screen and (max-width: 1000px) {
    .about-container {
        flex-wrap: wrap;

        .content {
            width: 100%;
            margin-bottom: 50px;

            .links {
                .custom-button:not(:last-of-type) {
                    margin-right: 20px;
                }
            }
        }

        .image {
            width: 100%;
            height: 300px;
            background-position: center right;
        }
    }
}
