.competence-card {
    .image {
        filter: grayscale(80%);
        align-self: flex-start;
    }

    .content {
        align-self: flex-end;

        p:not(.link) {
            font-size: 14px;
        }
    }

    .links {
        justify-content: space-between;
    }
}
