.competence-card {
    .image {
        filter: grayscale(50%);
        align-self: flex-start;
    }

    .content {
        align-self: flex-end;

        p:not(.link) {
            font-size: 13.5px;
        }
    }

    .links {
        justify-content: space-between;
    }
}

@media screen and (max-width: 550px) {
    .competence-card {
        .content {
            p:not(.link) {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .competence-card {
        .content {
            height: 420px;
        }
    }
}

@media screen and (max-width: 350px) {
    .competence-card {
        .content {
            height: 500px;
        }
    }
}
