@media screen and (max-width: 1000px) {
    .carousel {
        &.container {
            flex-wrap: wrap;
            margin-top: 0;
        }

        .custom-button.desktop-btn {
            display: none;
        }

        .custom-button.mobile-btn {
            display: block;
            margin: 50px auto;
        }
    }
}
