.projects {
    background-color: rgba(202, 161, 131, 0.1);

    .intro {
        max-width: 600px;
        font-size: 11px;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 10px;

        a {
            text-decoration: underline;
        }
    }
}
