.custom-button {
    .icon.mobile-icon {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .custom-button {
        .icon.mobile-icon {
            display: block;
            color: #9d9d9d;
        }

        .icon.desktop-icon {
            display: none;
        }
    }
}
