.home-page-background,
.home-page-text {
    width: 100vw;
}

.home-page-background {
    background-position: top left;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-page-text {
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;

    h3 {
        font-size: 50px;
        letter-spacing: 5px;
        border: none;
        margin-left: 80px;
        padding: 0;
    }

    .links-wrapper {
        // opacity: 0;
        margin-top: 90px;
        // animation: 1.5s fadein 1s forwards;
        margin-left: 80px;

        a {
            margin: 0 40px 0 0;
            padding: 10px 15px;
            border: 1px solid #a33a48;
            text-transform: uppercase;
            font-size: 14px;
            background-color: rgba(255, 255, 255, 0.4);
            color: #a33a48;
            transition: color ease-in 0.2s, background ease-in 0.2s,
                border ease-in 0.2s;

            &:hover {
                background-color: #a33a48;
                color: #fff;
            }

            &:last-of-type {
                background-color: #a33a48;
                color: #fff;

                &:hover {
                    background-color: #7a2a35;
                    border-color: #7a2a35;
                }
            }
        }
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
